.trending {
    width: 100%;
    padding: 0;
    color: #fff;
}

.title {
    text-align: center;
    color: var(--accent-color);
}

.flexContainer {
    display: flex;
}

@media screen and (max-width: 850px) {
    .trending {
        padding: 0 6rem;
    }
}

@media screen and (max-width: 700px) {
    .trending {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 650px) {
    .trending {
        padding: 0 1rem;
    }
}
