.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favIcon,
.unfavIcon {
    width: 35px;
    height: 35px;
}

.favIcon:hover,
.unfavIcon:hover {
    cursor: pointer;
}

.favIcon .section {
    color: var(--accent-color);
    text-transform: lowercase;
}

.favFlexContainer {
    display: flex;
    justify-content: center;
}

.favText {
    font-size: 0.9rem;
}
