.btn {
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.8em 1.8em;
    background-color: var(--accent-color);
    margin: 0 0.2em;
    font-size: 0.9rem;
    transition: 150ms ease-in-out;
    border: 1px solid var(--accent-color);
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--accent-color);
    background-color: white;
    border: 1px solid var(--accent-color);
}
