.container {
    /* border-radius: 50%;
    background-color: var(--accent-color);*/
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container:hover,
.container:focus {
    cursor: pointer;
}

.icon {
}
