.home {
    /* background: #415a77; */
    /* background-color: #054861; */
    width: 100%;
    padding: 2em 1em;
    color: #fff;
    /* background-color: rgba(5, 72, 97, 0.85); */
    display: flex;
    justify-content: space-between;
}
