.home {
    width: 100%;
    padding: 0 1em;
    color: #fff;
}

.title {
    color: var(--accent-color);
    text-align: center;
}

.section {
    color: var(--primary-color);
}

.filterBtnsContainer {
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin: 1em 0;
    position: relative;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0.5em 0;
}

.filterBtnsContainer::-webkit-scrollbar {
    display: none;
}

.flexContainer {
    display: flex;
}
