.container {
    margin-bottom: 1.5em;
    /* overflow: hidden; */
    /* max-height: 400px; */
    padding: 1rem 1.5rem;
    background-color: rgba(5, 72, 97, 0.8);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container > * {
    /* width: 60%; */
    /* max-width: 700px; */
    margin-bottom: 0.5em;
}

.imageContainer {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.divider {
    width: 80%;
    margin: 1em auto 0;
}

.img {
    /* /* height: auto; */
    max-width: 100%;
    /* width: 100%;
    height: 100%; */
    border-radius: 20px;
}

.title,
.author,
.byline {
    color: #d78c9b;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.favIcon,
.unfavIcon {
    width: 35px;
    height: 35px;
}
