nav {
    /* background: #778da9; */
    /* background: rgb(255, 161, 93); */
    /* background: linear-gradient(90deg, #d78c9b 0%, #ff9f85 100%); */
    /* background-color: #ff9f85; */
    background-color: var(--accent-color);
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
}

.darkTheme {
    background: #0a182e;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
}

.link:first-of-type {
    margin-right: auto;
}

.listItem {
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-radius: 5px;
    padding: 0.8em;
    margin: 0.5em;
}

.listItem:hover,
.listItem:focus {
    background-color: darkgray;
}

i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.homeIcon {
    width: 30px;
    height: 30px;
}
