.flexContainer {
    margin-bottom: 2em;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    color: white;
    padding: 0.8em 2em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.imgContainer {
    /* height: 200px;
    width: 600px;
    object-fit: cover;
    object-position: center;
    overflow: hidden; */
    max-width: 300px;
    min-width: 300px;
}

.img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 20px;
}

.infoContainer > * {
    margin-bottom: 1em;
}

.title {
    font-size: 1.6rem;
    color: var(--accent-color);
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0.5em;
}

.title:hover,
.title:focus,
.title:active {
    text-decoration: underline;
}

.infoContainer {
    margin-left: 2em;
    position: relative;
}

.author {
    color: var(--accent-color);
    margin-bottom: 0;
}

.abstract {
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

@media all and (max-width: 950px) and (min-width: 851px) {
    .flexContainer {
        display: block;
        padding: 0;
        border-radius: 20px;
    }

    .imgContainer {
        max-width: 100%;
        min-width: 300px;
    }
}

@media all and (max-width: 680px) {
    .flexContainer {
        display: block;
        padding: 0;
        border-radius: 20px;
    }

    .imgContainer {
        max-width: 100%;
        min-width: 300px;
    }

    .infoContainer {
        margin-left: 0;
        padding: 1rem;
    }

    .infoContainer > * {
        margin-bottom: 0.5rem;
    }
}
