.top {
    margin-top: 4rem;
    height: 4rem;
    /* background-color: #805bd5; */
    background-color: #054861;
}

.container {
    margin: 3rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.container > * {
    margin-bottom: 0.8em;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.flexContainer > * {
    margin: 0 0.5em;
}

.socials li {
    cursor: pointer;
}

.icons:hover,
.icons:active,
.icons:focus {
    fill: var(--primary-color);
}

.btns {
    background-color: #054861;
    border-radius: 5px;
    cursor: pointer;
}

.btns > a {
    padding: 0.5rem 1.5rem;
    display: inline-block;
    color: #fff;
    letter-spacing: 0.5px;
}
