:root {
    --primary-color: #087299;
    --secondary-color: #f2fcff;
    --accent-color: #875c74;
    --fourth-color: #e6c1c8;
    --fifth-color: #a790a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.app-container {
    max-width: 1000px;
    margin: 0 auto;
}
