:root {
    /* --primary-color: #087299; */
    --primary-color: #319795;
    --secondary-color: #f2fcff;
    /* --accent-color: #875c74; */
    --accent-color: #2e3648;
    /* --fourth-color: #e6c1c8; */
    /* --fourth-color: #dbf1ff; */
    --fourth-color: #f7ebec;
    --fifth-color: #a790a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.app-container {
    max-width: 1000px;
    margin: 0 auto;
}
